@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.background-red {
  
  background: url(./assets/Section.png);
}

.about-background {
  background: url(./assets/About\ Us.png)
}

.testimonial-background {
  background: url(./assets/Testimonial\ Background.png)
}
.background-card {
  background: url(./assets/Background\ \ Card.png)
}

.Our-Story-background {
  background: url(./assets/Our\ Story\ Background.png)

}
.ytp-cued-thumbnail-overlay {
  position: relative;
}

.ytp-cued-thumbnail-overlay:before {
  content: '';
  position: absolute;
  background: url(./assets/HowItWOrks.png);
  height: 100%;
  z-index: 1;
  background-size: cover !IMPORTANT;
}
.yt-video .relative.w-full.h-64 {
  height: 475px;
}

.yt-video .relative.w-full.h-64 img, .yt-video .relative.w-full.h-64 iframe {
  border-radius: 40px;
}


@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.marquee{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;

  img{
    text-transform: uppercase;
    will-change: transform;
    transform: translateX(0);
    white-space: nowrap;
    animation: marquee 24s linear infinite;
    font-size: 200px;
    font-family: 'Gravitas One', Helvetica, Arial, sans-serif;
    font-weight: 900;
    color: #98C9FF;
    margin-right: 20px;
  }
}

.bg-custom {
  background: linear-gradient(281deg, #F32E0E 0%, #22A6F1 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  FONT-WEIGHT: 900;
  font-size: 18px;
  width: max-content;
  /* margin: auto; */
}
.Review-box {
  position: relative;
}

.Image-box {
  position: absolute;
  bottom: -50px;
  left: 0;
  right: 0;
}
body, html{
  overflow-x: hidden !important;
}
.testimonials-sec .slick-track {
  display: flex;
  gap: 30px;
}

.testimonials-sec {
  padding: 0 50px;
}

.testimonials-sec .slick-list {
  overflow-x: hidden;
  padding: 50px 0px;
}
.testimonials-sec ul.slick-dots {
  display: flex !important;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.testimonials-sec ul.slick-dots li button {
  width: 10px;
  height: 10px;
  background: #EAEAEA33;
  border-radius: 100px;
  color: transparent;
  font-size: 0;
}

.testimonials-sec ul.slick-dots li {
  width: max-content;
  height: max-content;
  display: flex;
}

.testimonials-sec ul.slick-dots li.slick-active button {
  background: #22A6F1;
}

.Special-background {
  background: #120202;
}

.Footer-Sec {
  background: url(./assets/Footer\ →\ Section.png)
}
.Containers {
  width: 1240px;
}

.cont {
  max-width: 1240px;
  margin: auto;
  width: 1240px;
}

.cont.boxx {
  display: flex;
  gap: 10px;
}

.cont.test {
  max-width: max-content;
  width: auto;
}

@media only screen and (max-width: 768px) {
  
  .cont {
    width: auto;
  }

  .cont.boxx {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .bg-custom {
    background: linear-gradient(281deg, #F32E0E 0%, #22A6F1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    FONT-WEIGHT: 900;
    font-size: 18px;
    width: max-content;
    margin: auto;
}
}

@media only screen and (min-width: 600px) {
  .cont {
    width: auto;
  }

  .cont.boxx {
    display: flex;
    gap: 20px;
  }

 
}